.navbar {
    background-color: rgb(26, 26, 41);
}
.nav-hover:hover {
    color: #ce3b0f !important;
    /* Primary color on hover */
    text-decoration: None;
    /* Optional hover effect */
}
.nav-link{
    font-size: large;
    font-weight: bold;
 }